<?xml version="1.0"?>

<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="namespace" default="$(arg mav_name)"/>
  <arg name="model" default="$(find collaborative_load_lifting)/urdf/$(arg mav_name)_base.xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

  <!-- Initial position and orientation fo the robot -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Initial joint values for the robot -->
  <arg name="j_uav1_x" default="0.0"/>
  <arg name="j_uav2_x" default="0.0"/>
  <arg name="j_bar1_x" default="0.0"/>
  <arg name="j_bar2_x" default="0.0"/>
  <arg name="j_uav1_y" default="0.0"/>
  <arg name="j_uav2_y" default="0.0"/>
  <arg name="j_bar1_y" default="0.0"/>
  <arg name="j_bar2_y" default="0.0"/>

  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="wait_to_record_bag" default="false"/>
  <arg name="enable_mavlink_interface" default="false"/>
  
  <!-- Cable and payload characteristics -->
  <arg name="cable_length" default="$(arg cable_length)"/>
  <arg name="cable_radius" default="$(arg cable_radius)"/>
  <arg name="cable_mass" default="$(arg cable_mass)"/>
  <arg name="x_payload" default="$(arg x_payload)"/>
  <arg name="y_payload" default="$(arg y_payload)"/>
  <arg name="z_payload" default="$(arg z_payload)"/>
  <arg name="payload_mass" default="$(arg payload_mass)"/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    enable_logging:=$(arg enable_logging)
    enable_ground_truth:=$(arg enable_ground_truth)
    enable_mavlink_interface:=$(arg enable_mavlink_interface)
    log_file:=$(arg log_file)
    wait_to_record_bag:=$(arg wait_to_record_bag)
    mav_name:=$(arg mav_name)
    namespace:=$(arg namespace)
    cable_length:=$(arg cable_length)
    cable_radius:=$(arg cable_radius)
    cable_mass:=$(arg cable_mass)
    x_payload:=$(arg x_payload)
    y_payload:=$(arg y_payload)
    z_payload:=$(arg z_payload)
    payload_mass:=$(arg payload_mass)"
  />

  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -R $(arg roll)
         -P $(arg pitch)
         -Y $(arg yaw)
         -J firefly/joint_uav_x $(arg j_uav1_x)
         -J firefly_2/joint_uav_x $(arg j_uav2_x)
         -J firefly/joint_load_x $(arg j_bar1_x)
         -J firefly_2/joint_load_x $(arg j_bar2_x)
         -J firefly/joint_uav_y $(arg j_uav1_y)
         -J firefly_2/joint_uav_y $(arg j_uav2_y)
         -J bar/joint_load_y_1 $(arg j_bar1_y)
         -J bar/joint_load_y_2 $(arg j_bar2_y)
         -model $(arg namespace)"
   respawn="false" output="screen">
  </node>
</launch>
